.discover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 59em) {
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
  }
}

.section__text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: 59em) {
    text-align: center;
  }

  &-title {
    font-size: calc(5vmin + 0.5rem);
    color: #fff;
  }

  &-features {
    display: flex;

    @media only screen and (max-width: 59em) {
      justify-content: center;
    }

    .feature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 9rem;
      width: 9rem;
      background-color: #000000be;
      color: #fff;
      margin: 4rem 1.5rem 4rem 0;

      @media only screen and (max-width: 59em) {
        margin: 2rem 1rem;
      }

      img {
        height: 3.5rem;
        margin-bottom: 1rem;
      }
    }
  }

  &-para {
    font-size: calc(2vmin + 0.5rem);
    color: rgba(255, 255, 255, 0.7);
  }
}

.section-image {
  display: flex;
  justify-content: flex-end;

  @media only screen and (max-width: 59em) {
    justify-content: center;
  }

  img {
    height: 62%;
    width: 70%;

    @media only screen and (max-width: 59em) {
      height: 50%;
      width: 50%;
    }
  }
}
