.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000be;
  width: 100%;
  padding: 1.2rem 0;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 2.6vmin;
  }

  &-nav {
    a {
      text-decoration: none;
      color: #fff;

      &:nth-child(1) {
        margin-right: 2rem;
      }
    }
  }

  &-social {
    a {
      text-decoration: none;
      color: #fff;

      &:nth-child(2) {
        margin-left: 2rem;
      }
    }
  }
}
