.section-container {
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.section__text {
  margin-top: -2rem;
  @media (max-width: 600px) {
    margin-top: 0rem;
  }

  &-title {
    span {
      font-size: 5rem;
      color: #ef198d;
    }
  }
}

.section__form {
  width: 50rem;
  max-width: 100%;
  transform: translateY(-5%);
  border-radius: 6px;
  background-color: #000000be;
  padding: 4% 6%;

  @media (max-width: 800px) {
    padding: 6% 8%;
  }

  @media (max-width: 800px) {
    transform: translateY(-33%);
  }

  .input-group {
    margin-bottom: 2.5rem;
    label {
      display: block;
      color: #fff;
      margin-bottom: 0.5rem;
      font-size: 1.6rem;
    }
    input {
      font-size: 1.7rem;
      padding: 1.2rem;
      border: none;
      outline: none;
      border-radius: 5px;
      height: 4.5rem;
      width: 100%;
    }
  }
  button {
    font-size: 2rem;
    color: #fff;
    background-color: #9d49de;
    border: none;
    outline: none;
    width: 100%;
    padding: 1.2rem 0;
    border-radius: 5px;
    cursor: pointer;
  }
}

.u-top {
  @media (max-width: 800px) {
    transform: translateY(-27%);
  }
}
