.join-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 59em) {
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
  }
}

.join__text {
  &-title {
    color: #fff;
    font-size: 3rem;

    span {
      font-size: 4.5rem;
      color: #ef198d;
    }
  }
}

.join__form {
  width: 50rem;
  max-width: 100%;
  border-radius: 6px;
  background-color: #000000be;
  padding: 4% 6%;

  @media (max-width: 640px) {
    padding: 6% 8%;
  }

  .input-group {
    margin-bottom: 2.5rem;

    label {
      display: block;
      color: #fff;
      margin-bottom: 0.5rem;
      font-size: 1.6rem;
    }
    input {
      font-size: 1.7rem;
      padding: 1.2rem;
      border: none;
      outline: none;
      border-radius: 5px;
      height: 4.5rem;
      width: 100%;
    }
  }

  button {
    font-size: 2rem;
    color: #fff;
    background-color: #9d49de;
    border: none;
    outline: none;
    width: 100%;
    padding: 1.2rem 0;
    border-radius: 5px;
    cursor: pointer;
  }
}
