.nav-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding-top: 2vmin;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;

  &-image {
    width: 9vmin;
  }

  &-name {
    color: #fff;
    font-size: calc(3vmin + 0.5rem);
  }
}

.nav {
  display: flex;
  gap: 3rem;

  &-item {
    text-decoration: none;
    color: #fff;
    font-size: calc(3vmin + 0.5rem);

    &:hover {
      color: rgb(200, 200, 200);
    }
  }
}
