*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #473a3a;
  overflow: hidden;
}

.container-center {
  width: 110rem;
  max-width: 90%;
  margin: 0 auto;
}

.discover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 59em) {
  .discover-content {
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
  }
}

.section__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 59em) {
  .section__text {
    text-align: center;
  }
}
.section__text-title {
  font-size: calc(5vmin + 0.5rem);
  color: #fff;
}
.section__text-features {
  display: flex;
}
@media only screen and (max-width: 59em) {
  .section__text-features {
    justify-content: center;
  }
}
.section__text-features .feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 9rem;
  background-color: rgba(0, 0, 0, 0.7450980392);
  color: #fff;
  margin: 4rem 1.5rem 4rem 0;
}
@media only screen and (max-width: 59em) {
  .section__text-features .feature {
    margin: 2rem 1rem;
  }
}
.section__text-features .feature img {
  height: 3.5rem;
  margin-bottom: 1rem;
}
.section__text-para {
  font-size: calc(2vmin + 0.5rem);
  color: rgba(255, 255, 255, 0.7);
}

.section-image {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 59em) {
  .section-image {
    justify-content: center;
  }
}
.section-image img {
  height: 62%;
  width: 70%;
}
@media only screen and (max-width: 59em) {
  .section-image img {
    height: 50%;
    width: 50%;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7450980392);
  width: 100%;
  padding: 1.2rem 0;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 2.6vmin;
}
.footer-nav a {
  text-decoration: none;
  color: #fff;
}
.footer-nav a:nth-child(1) {
  margin-right: 2rem;
}
.footer-social a {
  text-decoration: none;
  color: #fff;
}
.footer-social a:nth-child(2) {
  margin-left: 2rem;
}

.index-content {
  height: calc(100vh - 8rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
@media only screen and (max-width: 59em) {
  .index-content {
    flex-direction: column;
    justify-content: center;
  }
}

.lady-image {
  height: 70vmin;
  width: 60vmin;
}
.lady-image img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 59em) {
  .main-text {
    text-align: center;
  }
}
.main-text h1 {
  font-size: 10vmin;
  color: #fff;
}
.main-text p {
  font-size: 4vmin;
  color: rgba(255, 255, 255, 0.767);
  margin-bottom: 3rem;
}
.main-text .button {
  font-size: 2.5vmin;
  padding: 1.2rem 2rem;
  border-radius: 3px;
  background-color: #9d49de;
  color: #fff;
  text-decoration: none;
}

.join-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 59em) {
  .join-content {
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
  }
}

.join__text-title {
  color: #fff;
  font-size: 3rem;
}
.join__text-title span {
  font-size: 4.5rem;
  color: #ef198d;
}

.join__form {
  width: 50rem;
  max-width: 100%;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.7450980392);
  padding: 4% 6%;
}
@media (max-width: 640px) {
  .join__form {
    padding: 6% 8%;
  }
}
.join__form .input-group {
  margin-bottom: 2.5rem;
}
.join__form .input-group label {
  display: block;
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}
.join__form .input-group input {
  font-size: 1.7rem;
  padding: 1.2rem;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 4.5rem;
  width: 100%;
}
.join__form button {
  font-size: 2rem;
  color: #fff;
  background-color: #9d49de;
  border: none;
  outline: none;
  width: 100%;
  padding: 1.2rem 0;
  border-radius: 5px;
  cursor: pointer;
}

.nav-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding-top: 2vmin;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo-image {
  width: 9vmin;
}
.logo-name {
  color: #fff;
  font-size: calc(3vmin + 0.5rem);
}

.nav {
  display: flex;
  gap: 3rem;
}
.nav-item {
  text-decoration: none;
  color: #fff;
  font-size: calc(3vmin + 0.5rem);
}
.nav-item:hover {
  color: rgb(200, 200, 200);
} /*# sourceMappingURL=main.css.map */
